body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 6px;
}

h1 {
  font-size: 200%;
  margin: 0;
  .tagline {
    display: inline;
    color: #999;
    font-size: 40%;
    font-weight: normal;
  }
}

.menu {
  margin-top: -16px;
  text-align: right;
  color: #CCC;
  font-size: 80%;
  a {
  }
}

a:link {
  color: #000;
}

a:visited, a:hover, a:active {
  color: #666;
}

.contents {
  margin: 24px 0;
}

.footer {
  text-align: right;
  color: #999;
  font-size: 80%;
}

.new_q {
  textarea {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 90%;
    width: 100%;
    height: 5em;
    margin: 0;
    border-radius: 4px;
    border-color: #999;
  }
  input {
    margin: 0;
  }
  .bottom {
    text-align: right;
    color: #999;
    font-size: 80%;
    #text_count {
      margin-top: -3px;
      font-size: 76%;
    }
    #text_count.over {
      color: red;
    }
    .to {
      display: inline-block;
      .hint {
        display: inline-block;
      }
    }
  }
}

.q {
  margin: 32px 0;

  .text {
    margin: 8px 0;
    padding: 12px;
    font-size: 140%;
    line-height: 140%;
    color: #444;
    background-color: #EEE;
  }

  .to {
    color: #999;
    font-size: 90%;
    text-align: right;
    margin: 16px 0;
  }
}

#disqus_thread {
  margin: 8px 0;
}

ul.qs {
  margin: 8px 0;
  padding: 0;
  li {
    margin: 24px 0;
    list-style: none;
    .text {
      display: inline;
      font-size: 120%;
      line-height: 120%;
      background-color: #EEE;
    }
    .to {
      display: inline-block;
      color: #999;
    }
    .count {
      min-height: 1.2em;
      a {
        font-size: 76%;
        color: #999;
      }
    }
  }
}
