

.q {
  margin: 8px 0;

  .text {
    font-size: 110%;
    margin: 4px 0;
    padding: 8px;
    border: solid 1px #CCC;
    border-radius: 4px;
  }

  .to {
    font-size: 90%;
    color: #666;
  }
}
