body {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  max-width: 600px;
  margin: 0 auto;
  padding: 6px;
}

h1 {
  font-size: 200%;
  margin: 0;
}

.menu {
  margin-top: -16px;
  text-align: right;
  color: #CCC;
  font-size: 80%;
  a {
  }
}

a:link {
  color: #000;
}

a:visited, a:hover, a:active {
  color: #666;
}

.contents {
  margin: 24px 0;
}

.new_q {
  textarea {
    width: 99%;
  }
  .to {
    display: inline-block;
    color: #999;
  }
  .bottom {
    text-align: right;
  }
}

.q {
  margin: 24px 0;

  .text {
    margin: 24px 0;
    font-size: 140%;
  }

  .to {
    color: #999;
  }
}

#disqus_thread {
  margin: 8px 0;
}

ul.qs {
  margin: 8px 0;
  padding: 0;
  li {
    margin: 24px 0;
    list-style: none;
    .text {
      font-size: 120%;
      display: inline-block;
    }
    .to {
      display: inline-block;
      color: #999;
    }
    .count {
      min-height: 1.2em;
      a {
        font-size: 76%;
        color: #999;
      }
    }
  }
}
